:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   --primary-color: #ffcb74;
   --primary-color-hover: #dbaa55;
   --white-color: #f6f6f6;
   --black-color: #111315;
   --placeholder: rgb(175, 175, 175);
   --text: #2f2f2f;
   --separator: #413c3c;

   color-scheme: light dark;
   color: var(--text);
   background-color: var(--white-color);
   font-size: 16px;
}

body {
   margin: 0;
   min-width: 320px;
   min-height: 100vh;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
}
button:hover {
   border-color: #646cff;
}

a {
   color: var(--text);
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}
